/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.word-switcher {
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	display: inline-block;
	transform-origin: center;
	position: relative;
	opacity: 1;
	will-change: opacity, transform;
	transform: translateY(0);

	&.fade {
		opacity: 0;
		transform: translateY(20px);
	}

	&:not(.fade) {
		opacity: 0;
		transform: translateY(-20px);
		animation: slideIn 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
	}

	@keyframes slideIn {
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
